.header {
  position: relative;
}

.pageTitle {
  font-size: 50px;
  text-align: center;
  position: relative;
}

.headDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchBar {
  font-size: 15px;
  width: 20%;
  text-align: center;
  position: relative;
}

.searchBtn {
  text-align: center;
  position: relative;
}

#movieSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, minmax(200px, auto));
}

.movieInfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 200px;
  background-color: bisque;
  /* OVERFLOW */
}

.movieTitle {
  font-size: 25px;
}

.movieOverview {
  font-size: 15px;
}

.movieVoteAverage {
  font-size: 20px;
}
